@use 'body';
@use 'header';
@use 'celulares';
@use 'ipads';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media screen and (min-width:767px){
    .none-desk{
        display: none;
    }
    
}



